.Rproj.user
.Rhistory
.RData
.Ruserdata
low_rank_MNAR/
!data/datasets/complete_backup/**/*.rds
!data/datasets/incomplete_backup/**/*.rds
!functions.RDS
.venv/
venv/
container
env.sif
env.sif2
_targets
.R_cache
cache
*.pyc
figures/
*.tex
*.pdf
results/amputed/*
results/imputed/*
results/simulations/*
.ipynb_checkpoints/
.jupyter/
